# Virtual environments
.venv/
venv/

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/

# Environment & secrets
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Testing & coverage
.coverage
htmlcov/
.pytest_cache/

# Streamlit
.streamlit/secrets.toml